%h1= @note['title']
%p= @note['text']
- @note['tags'].each do |tag|
  -haml_tag(:a, tag, { :href=>"/#{tag}" })

-haml_tag(:a, "edit", { :href=>"/#{@note['_id']}/edit" })
-haml_tag(:a, "delete", { :href=>"/#{@note['_id']}/delete" })
